 
/*@font-face { 
font-family: zcool-gdh; 
src: url('./zcool-gdh.ttf'); 
} 
 */
/*
 @font-face {
    font-family: 'zcool-gdh';
    src: url('//at.alicdn.com/t/webfont_vycr3e6aggc.eot');
    /* IE9*/
    src: url('//at.alicdn.com/t/webfont_vycr3e6aggc.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/webfont_vycr3e6aggc.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/webfont_vycr3e6aggc.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/webfont_vycr3e6aggc.svg#思源黑体-极细') format('svg');
    /* iOS 4.1- */
}
*/

html, body {
    padding: 0;
    margin: 0;
    width:100%;    
}

p{
    padding: 0;
    margin: 0;
}
.menu{
    outline: none;
    border: none;
}
details summary::-webkit-details-marker {
    display: none;
  }

  @media screen and (min-width: 560px) {
    #main{
        width: 50% !important;
    }
    footer{
        width: 50% !important;
    }
    #other{
        display: block  !important;
    }
  }

  #other{
      display: none;
  }

  .container{
      display: flex;
      flex-direction: row;
      background-color: #eee
  }
header{
    padding: 0;
    margin: 0;
  
    width: 100%;
    background-color:#eee;
    color:rgb(32, 32, 32);
    display: flex;
    justify-content: center;
    align-items:flex-start;
     
    flex-direction: column;
}
header h2{
    margin:1em;
    padding: 0;
    text-align: center;
}
header p{
    font-size: 12px;
    font-weight: 300;
    padding: 8px;
    font-family: monospace
}


footer{
    padding: 0;
    margin: 0;
    height: 10vh;
    width: 100%;
    background-color: rgb(218, 218, 218);
    color:rgb(32, 32, 32);
    font-size: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 80px;
    flex-direction: column
}
footer p{
    font-weight: 300;
    margin-bottom: 24px;
}


#main{
    background-color: #eee;
    padding: 0;
    margin: 0;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#preview{
   /* outline: 1px solid  rgb(112, 35, 255);*/
    /* width: 50%; */
    /* min-width: 480px; */
    display: flex;
    justify-content: center;
    height: 180px;
    align-items: center;
    margin: 24px;
}

#edit{
    background:#eee;
    color:rgb(32, 32, 32);
    width: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

#edit label{
   
    font-size: 12px;
    
    display: block;
}

 
#preview canvas,img{
    width: 100%;
}

#word{
    height: 66px;
    width: 80%;
    padding-left: 5%;
    margin-left: 5%;
    border-radius: 4px;
    font-size: 18px;
    
    /* padding: 8px; */
    border: none;
}


input[type="text"]{
    height: 32px;
    width: 198px;
    border-radius: 4px;
    font-size: 18px;
     
    padding: 8px;
    border: none;
}

input[type="range"]{
    height: 32px;
    width: 198px;
    border-radius: 4px;
    font-size: 18px;
    
    padding: 8px;
    border: none;
}

.radioGroup{
    width: 198px;
    display: flex;
    justify-content: space-around;
}

.shadow{
    
    box-shadow:1px 10px 16px 2px rgba(0,0,0,0.4);
}

.title{
   
    font-size: 18px;
     
    margin-bottom: 14px;
    margin-top: 32px;
    border-left: 8px solid rgb(112, 35, 255);
    padding-left: 18px;
}

.option{
    width: 210px;
}

.rowDisplay{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


